<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="shortcut icon" href="img/favicons/64x64.png" type="image/png">
    <link rel="icon" href="img/favicons/152x152.png" type="image/png" sizes="152x152">
    <link rel="icon" href="img/favicons/256x256.png" type="image/png" sizes="256x256">
    <link rel="icon" href="img/favicons/512x512.png" type="image/png" sizes="512x512">
    <link rel="apple-touch-icon" href="img/favicons/152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/favicons/256x256.png" sizes="256x256">
    <link rel="apple-touch-icon" href="img/favicons/512x512.png" sizes="512x512">
    <link rel="manifest" href="manifest.json">
  </head>
  <body class="uk-animation-fade">
    <section class="section_top_line" uk-sticky>
      <div class="top_line">
        <div class="uk-container uk-grid uk-flex-between" uk-grid>
          <ul class="uk-grid navigation" uk-grid>
            <li class="nav_item"><a href="/">Главная</a><a href="/about.html">О нас</a><a href="/journey.html">Путешествия</a><a href="/food.html">Еда</a><a href="/relaxation.html">Отдых</a>
            </li>
          </ul>
          <ul class="uk-grid soc_list" uk-grid>
            <li class="soc_item"><a class="fa fa-facebook" href="#"></a></li>
            <li class="soc_item"><a class="fa fa-instagram" href="#"></a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="reviews_section section_default uk-section">
      <div class="uk-container">
        <h1>Хавчик</h1>
        <ul class="review_list">
          <li class="review_item"><img class="review_img" src="./img/bg_img.jpg">
            <div class="uk-padding">
              <div class="uk-flex uk-flex-middle">
                <div class="author_img uk-flex uk-flex-middle uk-flex-center">Ж</div>
                <div class="autor_info"><span class="autor_name">Жамка Маматова</span><span class="autor_date">март 24 - 2 мин. чтения</span></div>
              </div>
              <div class="review_text"><a>5 вещей, которые можно сделать из Жопы кенгуру</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim assumenda distinctio, sed ut culpa debitis sapiente sint perspiciatis veniam quas, iusto iure velit maiores numquam sequi obcaecati? Quae iure voluptatem repellendus, recusandae facere iste maiores saepe, hic, rerum blanditiis neque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quisquam error dicta. Voluptatum voluptatibus tempore architecto numquam, optio reprehenderit.</p>
                <hr>
              </div>
            </div>
          </li>
          <li class="review_item"><img class="review_img" src="./img/bg_img.jpg">
            <div class="uk-padding">
              <div class="uk-flex uk-flex-middle">
                <div class="author_img uk-flex uk-flex-middle uk-flex-center">Ж</div>
                <div class="autor_info"><span class="autor_name">Жамка Маматова</span><span class="autor_date">март 24 - 2 мин. чтения</span></div>
              </div>
              <div class="review_text"><a>5 вещей, которые нужно сделать в Жопе кенгуру</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim assumenda distinctio, sed ut culpa debitis sapiente sint perspiciatis veniam quas, iusto iure velit maiores numquam sequi obcaecati? Quae iure voluptatem repellendus, recusandae facere iste maiores saepe, hic, rerum blanditiis neque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus quisquam error dicta. Voluptatum voluptatibus tempore architecto numquam, optio reprehenderit.</p>
                <hr>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="social_nets_section">
      <div class="uk-container uk-container-small about_social uk-padding">
        <div class="uk-grid uk-child-width-1-2"><a href="#"><i class="fa fa-facebook"> facebook</i></a><a href="#"><i class="fa fa-instagram"> instagram</i></a></div>
      </div>
    </section>
    <section class="section_footer">
      <div uk-slider="autoplay: true; autoplay-interval: 2500">
        <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@">
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
          <li class="footer_slider_item"><img src="./img/bg_img.jpg"></li>
        </ul>
      </div>
      <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2 uk-padding-large" uk-grid>
          <div class="left_footer">
            <div class="uk-grid" uk-grid>
              <div><img class="logo_footer" src="./img/bg_img.jpg"></div>
              <div>
                <h2>About</h2><a class="read_more_link" href="#">Read more</a>
              </div>
            </div>
            <ul class="uk-grid soc_list" uk-grid>
              <li class="soc_item"><a class="fa fa-facebook" href="#"></a></li>
              <li class="soc_item"><a class="fa fa-instagram" href="#"></a></li>
            </ul>
          </div>
          <div class="right_footer">
            <h3> Подпишитесь на новые посты:</h3>
            <form action="#">
              <input class="uk-input" placeholder="Your email" type="email">
              <button class="btn_footer">Подписаться</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="js/libs.min.js"></script>
    <script src="js/common.min.js"></script>
  </body>
</html>