body {
    color: #a00909;
}




footer {
  background: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
}
 a {
      float: left;
      line-height: 0;
      text-decoration: none;
      color: green ;
      text-align: center;

    }
a.support {
    color: #fff;
  text-decoration: none;
  user-select: none;
  background: green;
  padding: .7em 1.5em;
  outline: none;
}
a.support:hover { background: rgb(232,95,76); }
a.support:active { background: rgb(152,15,0); }

* {box-sizing: border-box;}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}