doctype
html(lang="ru")
    head
        include assets/_metas.pug
        include assets/_links.pug
    body.uk-animation-fade
        include ../components/header.pug
        section.about_section
            .uk-container.uk-padding
                .uk-grid.uk-child-width-1-2.uk-flex-middle
                    div
                        h1 About
                        p Мы SoNoon.kg представляем вам нашу страну в полном виде.  Пока не надо всю инормацию. Имейте в виду есть информацию. Хорошо подумай брат не не подажди подажди. Я слушал такие слова на лекции. ЭЭЭ Эржан вставай. Саламалейкум на работу пора. Нетрогацте Эржана
                        span Пишите:
                            a(href="mailto:aziret.sherov@gmail.com" type="mail")  aziret.sherov@gmail.com
                    div
                        img(src="./img/bg_img.jpg")

        include ../components/footer.pug
        include assets/_scripts.pug